<footer class="footer ">

    
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        MONEY MAKERS
                    </a>
                </li>
                <li>
                    <a href="about">
                       About Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            © Money makers {{currentYear}}.
        </div>
    </div>

    
</footer>
