<div class="sidebar" data-color="orange">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        -->
    
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                CT
            </a>
    
            <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                Creative Tim
            </a>
            
            <div class="navbar-minimize">
              <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
                  <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
                  <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
              </button>
              </div>
            
        </div>
    
        <div class="sidebar-wrapper">
            
            <div class="user">
                <div class="photo">
                    <img src="../assets2/img/james.jpg">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <span>
                            James Amos
                            <b class="caret"></b>
                        </span>
                    </a>
                    <div class="clearfix"></div>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="/profile">
                                    <span class="sidebar-mini-icon">MP</span>
                                    <span class="sidebar-normal">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="/edit-profile">
                                    <span class="sidebar-mini-icon">EP</span>
                                    <span class="sidebar-normal">Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="/eidt-profile">
                                    <span class="sidebar-mini-icon">S</span>
                                    <span class="sidebar-normal">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <ul class="nav">
              
    
    
              
                
                  
                  <li class="active">
    
                      
                        <a href="/dashboard">
                          
                            <i class="now-ui-icons design_app"></i>
                          
                          <p>Dashboard</p>
                        </a>
                      
                  </li>
                  
                  <li>
    
                      
                        <a href="/profile">
                          
                            <i class="now-ui-icons design_image"></i>
                          
                            <p>
                              Profile
                            </p>
                        </a>
    
                        
    
                      
                  </li>
                  
                  
                  
                  <li>
    
                      
                        <a href="/notes">
                          
                            <i class="now-ui-icons files_single-copy-04"></i>
                          
                            <p>
                              Notes
                            </p>
                        </a>
    
                        
    
                      
                  </li>
                  
                  <li>
    
                      
                        <a href="/todos">
                          
                            <i class="now-ui-icons design_bullet-list-67"></i>
                          
                            <p>
                              Daily Tasks
                            </p>
                        </a>
                      
                  </li>
                  
                  <li>
    
                      
                        <a href="/account-manager">
                          
                            <i class="now-ui-icons location_pin"></i>
                          
                            <p>
                              Account Manager
                            </p>
                        </a>
                      
                  </li>
                  
                  <li>
    
                      
                        <a href="/challenge">
                          
                            <i class="now-ui-icons objects_diamond"></i>
                          
                          <p>Take the Challenge</p>
                        </a>
                      
                  </li>
                  
                  <li>
    
                      
                        <a href="/chat">
                          
                            <i class="now-ui-icons business_chart-pie-36"></i>
                          
                          <p>Chat with Others</p>
                        </a>
                      
                  </li>
                  
                  <li>
    
                      
                        <a href="/calendar">
                          
                            <i class="now-ui-icons media-1_album"></i>
                          
                          <p>Calendar</p>
                        </a>
                      
                  </li>
                  
                
              
            </ul>
        </div>
    </div>